numpy
Django==1.6
greenlet>=0.3.1
gevent>=0.13.6
gunicorn>=0.13.4
python-dateutil
matplotlib>=1.2.0
netCDF4>=1.0.2
Rtree==0.6.0
south
jsonfield
pyproj
lxml
owslib
-e git://github.com/pyugrid/pyugrid.git#egg=pyugrid
